body{
    background-color: chocolate;
    
}

header, main{
    border: 3px black solid;
    background-color: antiquewhite;
    border-radius: 20px;
}

h1, h2{
    color:black;
    text-align: center;
}

p{
    color:black;
    width:80%;
    margin:auto;
    padding: 3px;
}

footer{
    text-align: right;
}