body{    
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:70%;    
    color:black;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:10px,
}

header, main{
    border: 3px whitesmoke solid;
    background-color: lightgray;
    border-radius: 20px;
}

h1, h2, h3{
    text-align: center;
}

p{
    color:black;
    margin:auto;
    padding: 5px;
}

ul{
    
    width: 70%;
    border-color: lightgray;
    font-size: x-large;
    margin: auto;
    padding: 10px;
}

footer{
    text-align: right;
    color: white;
    font-size: large;
}

.centerAlign{
    text-align: center;
}

.newSection{
    padding-top: 5px;
}

.home{
    text-align: left;
}

.draculaContent, .frankensteinContent, .dorianContent{
    text-align: right;
}

.button:hover{
    border-color: black;
}

.button{
    border: 3px solid whitesmoke;  
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

img{    
    width: 640px;
    height: 407px;
    margin:auto;
    border: 3px solid whitesmoke;
    border-radius: 20px;
}

#mainCenter{
    text-align: center;
    
    margin:auto;
}

