body{
    background-color: chocolate;
    width:60%;
    
    color:black;
    margin:auto;
}

header, main{
    border: 3px black solid;
    background-color: antiquewhite;
    border-radius: 20px;
}

h1, h2{
    text-align: center;
}

p{
    color:black;
    margin:auto;
    padding: 5px;
}

footer{
    text-align: right;
}